#### LOOPS
- Include: for loop, and while loop
- for loop iterates every given element in a given data structure

In [4]:
for i in range (1,11):
    print (i, end = "") # arranges horizontally

12345678910

In [5]:
fruits = ["mangoes", "apples", "bananas", "raspberries", "kiwi"] # lists use the [] brackets
for fruit in fruits:
    print (fruit)

mangoes
apples
bananas
raspberries
kiwi

- while loop only runs when you have a given condition
- they are infinite in nature when a condition is met
- Q. iterate values upto 5

In [6]:
count = 1
while count <= 5:
    print ("counting:", count)
    count += 1 # increment value, with this loop, it doesn't run infinitely

counting: 1
counting: 2
counting: 3
counting: 4
counting: 5

#### More control flows
1. Break
- iterates till it stops based on condition set
2. Continue
- iterates and skips the condition set
3. Pass
- does nothing, it's a placeholder in a loop

In [7]:
numbers = range (11)
for number in numbers:
    print (number)
    if number == 5:
        break

0
1
2
3
4
5

In [8]:
numbers = range (11)
for number in numbers:
    if number == 5:
        continue
    print (number)

0
1
2
3
4
6
7
8
9
10

In [9]:
numbers = range (11)
for number in numbers:
    if number == 5:
        pass
    print (number)

0
1
2
3
4
5
6
7
8
9
10

In [10]:
numbers = range (11)
for number in numbers:
    print (number)

0
1
2
3
4
5
6
7
8
9
10

#### LIST COMPREHENSIONS
- It's a shortcut for creating a list using loop

In [11]:
squares = [number **2 for number in numbers]
print (squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
cubes = [number **3 for number in numbers]
print (cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [13]:
numbers = range(1, 11)
even = [number for number in numbers if number % 2 == 0]
print (even)

[2, 4, 6, 8, 10]

In [14]:
odd = [ number for number in numbers if number % 2 != 0]
print (odd)

[1, 3, 5, 7, 9]

#### READING ASSIGNMENT: DICTIONARY COMPREHENSIONS

#### FUNCTIONS IN PYTHON
- allows you to group code into reusable blocks
- Denoted by the key word def
1.

In [16]:
def add (x, y):
    return x + y
add_1 = add (20, 10)
print (add_1)

30

In [17]:
add_2 = add (1000, 290.5)
print (add_2)

1290.5

In [22]:
def greet (name):
    return f"Hello {name}"
greet_1 = greet ("Wyc")
print (greet_1)

Hello Wyc

In [25]:
greet ("Josiah")

'Hello Josiah'

In [20]:
greet_2 = greet ("Loryne")
print (greet_2)

Hello Loryne

#### Lambda function
-it's a one line function
- use in light weight datasets & code

In [24]:
greetings = lambda name: f"Hello {name}!"
greetings ("Josiah")

'Hello Josiah!'

In [23]:
addition = lambda a, b: a + b
addition (12, 19)

31

#### CLASS ASSIGNMENT

In [ ]:
# Ask the user for their birth year. Calculate and print their age.
year = int(input("What year were you born?"))
age = 2025 - year 
print (f"You are {age} years old")

You are 26 years old

In [ ]:
# Write a function that checks if a number is even
numbers = range(60, 79)
evens = [number for number in numbers if number % 2 == 0]
print (evens)

[60, 62, 64, 66, 68, 70, 72, 74, 76, 78]

In [28]:
# Write a function that checks if a number is odd
odds = [ number for number in numbers if number % 2 != 0]
print (odds)

[61, 63, 65, 67, 69, 71, 73, 75, 77]

In [31]:
#Create a list of all numbers divisible by 3 
# between 1 and 50 using list comprehension.
nums = range(1, 51)
divisibles = [number for number in nums if number % 3 == 0]
print (divisibles)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

#### ASSIGNMENT: List python's built in data structures & their methods

#### DATA STRUCTURES
1. LIST
- denoted by []
- it's ordered & mutable (can be manipulated many times)
- has different methods: append (adding an element to an existing list)
                        pop (removes an element from existing list)
                        sort, remove etc.

In [ ]:
# example of a list
fruits = ["mangoes", "apples", "bananas", "raspberries", "kiwi"] # lists use the [] brackets

2. TUPLE
- Ordered BUT immutable (cannot be changed)
- Denoted by ()
- Has 2 methods: count, index

In [ ]:
image_dimensions = (1920, 1080)

3. SETS
- unordered & containing only unique items (sets don't take duplicates)
- denoted by { }
- Methods in set include: union, intersections, etc

In [32]:
set_1 = {1,2,3,3,4,5,6,6,7}
print (set_1)

{1, 2, 3, 4, 5, 6, 7}

4. DICTIONARIES
- have key value pairs 
- Are great for structured data
- Denoted by { }

In [34]:
person = {"name": "Naomi", "age": 30}
print (person)

{'name': 'Naomi', 'age': 30}

In [36]:
import pandas as pd
data = {"name": ["Isaac", "Sharon", "Eugyene"],
        "age": [27, 20, 35],
        "fruit": ["mangoes","bananas", "pineapples"]}

df = pd.DataFrame (data)
df.head ()

      name  age       fruit
0    Isaac   27     mangoes
1   Sharon   20     bananas
2  Eugyene   35  pineapples