#### CLASSES - OBJECT ORIENTED PROGRAMMING (OOP)
#OBJECT - 
- CLASS - a blueprint for creating objects

In [1]:
class Person:
    def __init__(self, name, age): #constructor method. self refers to object being made
        self.name = name #attribute
        self.age = age

    def greet(self): #greet is a method 
        return f"Hi. My name is {self.name} and I am {self.age} years old"

In [2]:
# to initialise the class:
person_1 = Person("Wyc", 28)
print (person_1.greet())

Hi. My name is Wyc and I am 28 years old

In [3]:
class Dog:
    def __init__(self, name, breed, age):
        self.name = name
        self.breed = breed
        self.age = age

    def bark(self):
        return f"Woof! My name is {self.name}. I'm a {self.breed} and I am {self.age} years old"

In [4]:
dog_1 = Dog ("Ben","huskie", 10)
print (dog_1.bark())

Woof! My name is Ben. I'm a huskie and I am 10 years old

In [5]:
dog_2 = Dog ("Bosco", "german shepherd", 13)
print (dog_2.bark())

Woof! My name is Bosco. I'm a german shepherd and I am 13 years old

In [6]:
#To construct a rectangle:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        area = self.length * self.width
        return f"Area of rectangle is {area} m2"

In [7]:
area1 = Rectangle (35, 12)
print(area1.area())

Area of rectangle is 420 m2

In [8]:
# To get area of a circle:
class Circle:
    def __init__(self, radius):
        self.radius = radius

# area of circle:
    def area (self):
        area = 22/7 * (self.radius ** 2)
        return f"Area of circle is {area}"
    
    #perimeter of circle:
    def perimeter (self):
        perimeter = 2 * 22/7 * (self.radius **2)
        return f"perimeter of circle is {perimeter}"

In [9]:
circle_1 = Circle (14)
print (circle_1.area())

print (circle_1.perimeter())

Area of circle is 616.0
perimeter of circle is 1232.0

In [10]:
from IPython.display import display, HTML

display(HTML("E = mc<sup>2</sup"))

#### PANDAS AND NUMPY
- PANDA - A python library for data analytics with 2 data structures:
1. series - a column
2. Data frame - a table with rows and columns

In [11]:
import pandas as pd
df = pd.read_csv(r"Excel_jumia.csv")

df.head() # head gives first 5 rows

,Product,Current price,old price,Discount,Review,Ratingd
0,115 Piece Set Of Multifunctional Precision Sc...,KSh 950,"KSh 1,525",38%,(2),4.5 out of 5
1,Metal Decorative Hooks Key Hangers Entryway Wa...,KSh 527,KSh 999,47%,(14),4.1 out of 5
2,Portable Mini Cordless Car Vacuum Cleaner - Blue,"KSh 2,199","KSh 2,923",25%,(24),4.6 out of 5
3,Weighing Scale Digital Bathroom Body Fat Scale...,"KSh 1,580","KSh 2,499",37%,(7),4.7 out of 5
4,Portable Home Small Air Humidifier 3-Speed Fan...,"KSh 1,740","KSh 2,356",26%,(5),4.8 out of 5

In [12]:
df.tail() # tail gives last 5 rows

,Product,Current price,old price,Discount,Review,Ratingd
110,Shower Nozzle Cleaning Unclogging Needle Mini ...,"KSh 1,658","KSh 1,699",2%,NaN,NaN
111,Thickening Multipurpose Non Stick Easy To Clea...,"KSh 1,768","KSh 1,799",2%,NaN,NaN
112,6 In 1 Bottle Can Opener Multifunctional Easy ...,KSh 199,KSh 553,64%,NaN,NaN
113,Wall-mounted Sticker Punch-free Plug Fixer,KSh 450,KSh 900,50%,(1),2 out of 5
114,Black Simple Water Cup Wine Coaster Anti Slip ...,KSh 169,KSh 320,47%,NaN,NaN

In [13]:
# to see number of rows & columns in data using panda:
df.shape

(115, 6)

In [14]:
# to get detailed information about the data set:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        115 non-null    object
 1   Current price  115 non-null    object
 2   old price      115 non-null    object
 3   Discount       115 non-null    object
 4   Review         57 non-null     object
 5   Ratingd        57 non-null     object
dtypes: object(6)
memory usage: 5.5+ KB

In [15]:
#checking for null values:
df.isnull().sum()

Product           0
Current price     0
old price         0
Discount          0
Review           58
Ratingd          58
dtype: int64

In [16]:
#to fill missing values:
df["Review"]= df["Review"].fillna("unknown")
df["Ratingd"]= df["Ratingd"].fillna("unknown")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        115 non-null    object
 1   Current price  115 non-null    object
 2   old price      115 non-null    object
 3   Discount       115 non-null    object
 4   Review         115 non-null    object
 5   Ratingd        115 non-null    object
dtypes: object(6)
memory usage: 5.5+ KB

In [ ]:
# to drop missing values:
df = df.dropna() #dropna drops all rows with missing values

In [ ]:
# TO SUMMARISE DATA(group): ASSIGNMENT:
# convert object to numerical figures 
# group product by the average current price

#### NUMPY (Numerical Python)
- Performs numerical operations on python
- Provides high performance array object
- NumPy Array - stores data & performs calculations, converts a list to an array
- Python List - stores data, no calculations

In [19]:
num = [1,2,3,4,5]
import numpy as np

arr = np.array(num)
print (arr)

[1 2 3 4 5]

In [20]:
#to get mean:
print (arr.mean())

3.0

In [21]:
# for standard deviation:
print (arr.std())

1.4142135623730951

In [22]:
# for variance:
print (arr.var())

2.0