# Permutations and Factorials
## Permutations
the number of permutations with n distinct objects is n!, or the factorial of n.

### 1. Permutations of a Subset

In [3]:
n = 8
k = 3
x = 5
y = (8*7*6*5*4*3*2*1)/(5*4*3*2*1)
print (y)

336.0

### 2. Permutations with Replacement


### 3. Permutations with Repetition
 some elements may be repeated.
 example is using permutations on words. Let's say you have the letters of the word "TENNESSEE". How many different words can you create using these letters?

 The solution is to divide 9! by the factorials for each letter that is repeated!

The answer here is then (9 letters, 4 x E, 2 x N, 2 x S)

In [6]:
#How many different words can you create using these letters?
t = 9

x = (9*8*7*6*5*4*3*2*1)/((4*3*2*1)*(2*1)*(2*1))
print(x)

3780.0

In [2]:
import math
t = math.factorial (9)

In [3]:
import math
n = math.factorial(8)
k = math.factorial(8-3)
ans = n/k
print (ans)

336.0

# Combinations
if order is not important,That's where combinations come in.
combinations answer the question: "How many ways can we create a subset k out of n objects?". 
The subset is not ordered.

In [ ]:
#Flatiron School is holding a mini mathematics contest and there are 9 people in the last round.
# Imagine flatiron school is giving out bronze, silver, and gold medal respectively. 
# How many possible ways are there to create this top three? (permutations)
x = math.factorial(9)
y = math.factorial (6)
k = x/y
print (k)

504.0

In [6]:
#Imagine Flatiron school granting the first three contestants a massive fruit basket. 
# How many ways of selecting three people are there in this case?(combinations)
import math
n = 9
R = 3
ans = math.comb (n, R)
print (ans)

84