In [ ]:
#allows looping over different collections in python
#

In [1]:
for letter in "Loryne Academy": #means for every letter inside my academy, do sth
    print (letter)

L
o
r
y
n
e

A
c
a
d
e
m
y

In [2]:
friends = ["Costo", "Mandra", "Ryce"] #array
for friend in friends:
    print (friend)

Costo
Mandra
Ryce

In [7]:
trinity = ["God", "Jesus", "Holy Spirit"]

for names_of_God in range(len(trinity)):
    print(trinity[names_of_God])

God
Jesus
Holy Spirit

In [ ]:
friends = ["Jim", "Karen", "Kevin"]
for index in range (3, 10): #prints no btwn 3 and 10, not including 10
    print (index)

3
4
5
6
7
8
9

In [5]:
# range can be used to loop through an array
friends = ["Jim", "Karen", "Kevin"]
for index in range(len(friends)):
    print (friends[index])

Jim
Karen
Kevin

In [6]:
friends = ["Jim", "Karen", "Kevin"]

for index in range(5):
    if index == 0:
        print ("first iteration")
    else:
        print("not first")

first iteration
not first
not first
not first
not first

In [7]:
#How to use a for loop to
# create a function of our own

# create a function
def raise_to_power (base_num, pow_num):
    result = 1 # variable
    for index in range (pow_num):
        result = result * base_num
    return result

print(raise_to_power(3,2))

9